<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <script src="/static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    </head>
    <body>

        <header id="site-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        
                    </div>
                </div>
            </div>
        </header>

        <section id="player-profile-head">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="player-name">
                            <img src="/picture/{{user_id}}" alt="">
                            <span>{{name}}</span>
                        </div>
                        <div class="match">
                            <div class="match-info">
                                <div class="match-date"><span>{{event_date}}</span></div>
                                <div class="match-score">
                                    <div class="team team-left">
                                        <span class="team-name">{{team1_name}}</span>
                                    </div>
                                    <div class="score">
                                        {{actual_score}}
                                    </div>
                                    <div class="team team-right">
                                        <span class="team-name">{{team2_name}}</span>
                                    </div>
                                </div>
                                <div class="my-stake">my prediction was {{predicted_score}}</div>
                            </div>
                            <div class="i-knew-it">{{status_line}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <main id="site-main">
            
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="total-stats">
                            <div class="inner">
                                <div class="total-score">
                                    <span>Total score:</span>
                                    {{rating}} points <b>+{{rating_diff}}</b>
                                </div>
                                <div class="current-rating">
                                    <span>
                                        Current rating:
                                    </span>
                                    {{leaderboard_pos}} out of {{leaderboard_size}}
                                </div>
                                <div class="delimeter"></div>
                                <div class="next-match">
                                    <div class="match-title">Next match:</div>
                                    <div class="match-score">
                                        <div class="team team-left">
                                            <span class="team-name">{{next_event_team1_name}}</span>
                                        </div>
                                        <div class="score">
                                            vs
                                        </div>
                                        <div class="team team-right">
                                            <span class="team-name">{{next_event_team2_name}}</span>
                                        </div>
                                    </div>
                                    <div class="match-date">
                                        {{next_event_date}}
                                    </div>
                                </div>
                                <div class="text-center">
                                    <a href="https://appmetrica.yandex.com/serve/960962989391964367" class="make-my-stake btn-green">Make a prediction!</a>
                                </div>
                                <div class="profile-bottom">
                                    <a href="/" class="show-scoreboard">Show leaderboard TOP 100</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>

        

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        <script src="/static/js/plugins.js"></script>
        <script src="/static/js/main.js"></script>
    </body>
</html>
