<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <script src="/static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    </head>
    <body>

        <header id="site-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">

                    </div>
                </div>
            </div>
        </header>

        <div id="top-1000-head">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <p>
                            Make predictions about Fenerbahçe match results ⚽️. Compete with friends and everybody else 🏆.
                        </p>
                        <h2>
                            Top 100
                        </h2>
                        <div class="text-center">
                            <a href="https://appmetrica.yandex.com/serve/960962989391964367" class="btn-green">Make a prediction!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <main id="site-main">
            
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="total-stats">
                            <div class="inner">

                                <div class="top-1000">
                                    <div class="row">
                                        <div class="col-md-12 col-left">
                                            {% for u in leaderboard %}
                                            <div class="top-item">
                                                <div class="row">
                                                    <div class="col-xs-3 col-1">
                                                        <div class="top-number">
                                                            {{u.position}}
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-3 col-2">
                                                        <a href="#" class="top-thumb">
                                                            <img src="/static/img/photo.png" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="col-xs-6 col-3">
                                                        <div class="top-info">
                                                            <a href="/{{u.user.telegram_id}}" class="name">{{u.name}}</a>
                                                            <div class="score">{{u.rating}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>

        

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        <script src="/static/js/plugins.js"></script>
        <script src="/static/js/main.js"></script> 
    </body>
</html>
